h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

ol,
p,
h2 {
  padding: 0;
  margin: 0; }

body {
  background: #eee;
  margin: 0;
  font-family: "Ubuntu", sans-serif; }

.container {
  margin: auto;
  max-width: 970px;
  padding: 0 15px; }

.header {
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 90px);
  padding-top: 50px;
  padding-bottom: 40px; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: auto; }
  .header__flex-wrapper {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header__phone {
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    color: #fff;
    text-decoration: none; }
    @media screen and (max-width: 600px) {
      .header__phone {
        font-size: 13px; } }
  .header__call {
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (max-width: 600px) {
      .header__call {
        font-size: 13px; } }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px; }
    @media screen and (max-width: 600px) {
      .header__menu {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }

.main-logo {
  width: 115px;
  height: auto; }
  @media screen and (max-width: 600px) {
    .main-logo {
      width: 80px; } }
  .main-logo__img {
    width: 100%; }

.menu {
  padding: 0;
  margin: 0;
  list-style: none; }
  .menu__link {
    color: #fff;
    text-decoration: none; }

/* Section Best */
.best {
  background-color: #fff;
  padding: 130px 0 150px; }
  .best__flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 768px) {
      .best__flex-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .best__moto {
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    margin-right: 7.1vw;
    margin-top: -6px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    text-transform: uppercase; }
    .best__moto--color-primary {
      color: #00aaef; }
    @media screen and (max-width: 768px) {
      .best__moto {
        margin-bottom: 20px; } }
  .best__text {
    font-size: 16px;
    line-height: 24px; }
  .best__subtitle {
    margin-bottom: 40px; }
  .best__list {
    margin-bottom: 40px; }
    @media screen and (max-width: 768px) {
      .best__list {
        margin-left: 15px; } }

/* Section  */
.gallery {
  position: relative;
  height: auto;
  background-color: #eeeeee;
  padding: 120px 0; }
  .gallery__img-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    margin-bottom: 10px; }
  .gallery__img {
    width: 100%;
    height: 264px; }
  .gallery__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 28px; }
  .gallery__adress {
    color: #00aaef; }
  .gallery__button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 20px; }
  .gallery__button {
    background-color: #00aaef;
    color: #fff;
    padding: 16px 32px; }
    .gallery__button:hover {
      background-color: #0094d0; }

/* Center Title block */
.center-titles {
  position: absolute;
  left: 50%;
  top: -21.3px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: inline-block;
  text-align: center; }
  .center-titles__title {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 48px;
    line-height: 36px; }
  .center-titles__icon {
    position: relative; }
    .center-titles__icon::after {
      content: "";
      position: absolute;
      bottom: 50%;
      -webkit-transform: translate(0, 50%);
              transform: translate(0, 50%);
      right: 0;
      width: 40%;
      height: 2px;
      background-color: #00aaef; }
    .center-titles__icon::before {
      content: "";
      position: absolute;
      bottom: 50%;
      -webkit-transform: translate(0, 50%);
              transform: translate(0, 50%);
      left: 0;
      width: 40%;
      height: 2px;
      background-color: #00aaef; }

/* END Center Title block */
/* Button styles */
.button {
  font-weight: 500;
  font-size: 14px;
  border: none;
  margin: 0;
  font-size: 16px;
  outline: none; }
  .button:active {
    -webkit-transform: scale(0.98);
            transform: scale(0.98); }
  .button:hover {
    cursor: pointer; }

/* END button styles */

/*# sourceMappingURL=main.css.map */
